@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Paytone+One&display=swap');

:root {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Paytone One", sans-serif;
  --font-exo: "Exo 2", sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white;
    scroll-behavior: smooth; 
    /* #e7d393 #f1e4b931 */
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .col-center {
    @apply flex flex-col justify-center items-center;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .text-gradient {
    background: linear-gradient(to top, #f3f0f0, #a09f9fbc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .radial-gradient {
    background: radial-gradient(circle at center, #434343 0%, #000 50%, transparent 100%);
  }

  .masked-img {
    mask-image: url('/under-img.jpg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
  }

  .view-cocktails {
    @apply absolute right-0 md:bottom-20 mt-20 sm:mt-0  md:w-1/3 w-1/2 text-[18px] sm:text-sm break-words ;
  }

.video {
  @apply w-full h-dvh object-cover flex justify-center ;
}
.text {
  color: var(--color-yellow)
}
}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }

  nav {
    @apply fixed z-50 w-full;

    div {
      @apply flex md:flex-row  md:justify-between items-center md:gap-5 gap-3 md:py-5 py-3 lg:px-0 px-5 contain-content;
    }

    p {
      @apply md:text-3xl md:-mb-2;
    }
    
    a {
      @apply cursor-pointer text-nowrap md:text-base text-xs ;
    }
    
    ul {
      @apply flex justify-center lg:gap-12 gap-7 pr-5;
    }
  }
}


.paytone {
  font-family: "Paytone One", sans-serif;
  font-style: normal;
}

.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
}

.video video, video {
  mix-blend-mode: screen;
  
}

.bg {
  @apply size-full bg-[url('/download.jpg')] bg-no-repeat bg-cover; 
}

#hero {
  @apply z-10 min-h-dvh w-full border border-transparent ;

  h1 {
    @apply mt-20 text-4xl md:text-[10vw] leading-none text-center  ;
  }

  .left-leaf {
    @apply absolute left-0  md:bottom-auto -bottom-9 md:w-fit w-1/2 ;
  }

  .right-leaf {
    @apply absolute right-0 md:bottom-0 xl:top-0 2xl:top-12 top-20 md:w-fit w-24;
  }
}
